<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Data</title>
</head>
<body>
    <form>
        <fieldset style="width: 0px;">
            <legend></legend>
        </fieldset>
    </form>
</body>
</html>