<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Favicons -->
    <link rel="icon" href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico">
    <link rel="provo-icon" href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700|Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Your custom CSS -->
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            height: 100vh;
            overflow: hidden;
        }

        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-image: url('https://aforbush1.github.io/INTEX/views/assets/img/downtownProvo.jpeg');
            background-size: cover;
            z-index: -1;
            filter: blur(0);
            transition: filter 1s ease;
        }

        .login-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            background-color: rgba(224, 224, 224, 0.7);
            padding: 40px;
            border-radius: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(2px);
            transition: backdrop-filter 3s ease;
            margin-top: 30px;
        }

        h1 {
            font-size: 35px;
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: white;
        }

        input,
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .button-container {
            display: flex;
            justify-content: center;
        }

        button {
            background: linear-gradient(-45deg, #1391a5, #274685);
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .logo img {
            max-height: 50px;
        }

        ::placeholder {
            font-style: italic;
        }
    </style>

    <!-- Template Main CSS File -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <header id="header" class="fixed-top d-flex align-items-center" style="background-color: rgba(211, 211, 211, 0.7);">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="/"><img src="https://aforbush1.github.io/INTEX/views/assets/img/provoLogo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar" style="color: grey;">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/surveyForm">Survey</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="publicTools">Public Tools</a></li>
                    <li><a class="active" href="/login">Log In</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <!-- ======= Login Container ======= -->
    <div class="login-container">
        <form id="createUserForm" class="login-form" action="/submitLogin" method="post">
            <h1 style="color: white;">Provo Health Login</h1>
            <br>
            <label for="username">Username:</label>
            <input placeholder="Enter Username..." type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input placeholder="Enter Password..." type="password" id="password" name="password" required>
            <div class="button-container">
                <button type="submit">Log in</button>
            </div>
        </form>
    </div>
    <!-- ======= End Login Container ======= -->
</body>

</html>
