<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <main id="main">
        <br><br><br><br><form>
            <fieldset style="width: 1000px;">
                <legend>Login</legend>
                <label for="username">Username:
                    <input type="text" id="username" placeholder="Enter your username" required>
                </label>
                
                <label for="password">Password:
                    <input type="password" id="password" placeholder="Enter your password" required>
                </label>
                
                <button type="submit" id="submit" >Log-In</button><br><br>
                <a href="">Create An Account</a>
            </fieldset>
        </form>
    </main>
</body>
</html>