<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Favicons -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="icon">
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="provo-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            height: 100vh;
            overflow: hidden;
        }

        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0px;
            width: 100vw;
            height: 100vh;
            background-image: url('https://aforbush1.github.io/INTEX/views/assets/img/downtownProvo.jpeg');
            background-size: cover;
            z-index: -1;
            filter: blur(0px);
            transition: filter 1s ease;
        }

        .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(169, 169, 169, 0.8);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: backdrop-filter 3s ease;
}


        h1 {
            color: black;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: black;
        }

        input,
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: rgba(92, 92, 92, 0.8);
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .logo img {
            max-height: 50px;
        }

        
    </style>

    <!-- Template Main CSS File -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/css/style.css" rel="stylesheet">
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo">
                <a href="/"><img src="https://aforbush1.github.io/INTEX/views/assets/img/provoLogo.png" alt="" class="img-fluid">
                </a>
            </div>

            <nav id="navbar" class="navbar" style="color: grey;">
                <ul>
                    <li><a  href="/">Home</a></li>
                    <li><a href="/surveyForm">Survey</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a class="active" href="/login">Log In</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
</head>

<body>

    <style>
        /* Placeholder text in italics */
        ::placeholder {
            font-style: italic;
        }
    </style>

    <!-- ======= Login Container ======= -->
    <div class="login-container">
        <form id="createUserForm" class="login-form" action="/submitLogin" method="post">
            <h1 style="font-size: 35px; color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Provo Health Login</h1>
            <br>
            <label for="username" style="color: white;">Username:</label>
            <input placeholder="Enter Username..." type="text" id="username" name="username" required>
            <br> <br>
            <label for="password" style="color: white;">Password:</label>
            <input placeholder="Enter Password..." type="password" id="password" name="password" required>
            <button type="submit">Log In</button>
        </form>
    </div>
    <!-- End Login Container -->


    


</body>

</html>
