<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>

    <!-- Favicons -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="icon">
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="provo-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Select2Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <!-- Template Main CSS File -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/css/style.css" rel="stylesheet">
    <script>
        AOS.init();
    </script>

    <style>
        body {
            background-color: #e0e0e0;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        header {
            color: #fff;
            padding: 10px;
            text-align: center;
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 1000;
        }
        
        form {
            background-color: rgba(255, 255, 255, .9);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
        
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        
        input,
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        
        button {
            background: linear-gradient(-45deg, #1391a5, #274685);
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        header.fixed-top {
            background-color: #7c7c7c;
            color: #7c7c7c;
        }
    </style>


</head>

<body style="background-image: url('https://aforbush1.github.io/INTEX/views/assets/img/nature.jpg'); background-size: contain;">

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center" style="background-color: rgba(211, 211, 211, 0.7);" >
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo">
                <!--<h1><a href="index.html">SoftLand</a></h1>-->
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="/"><img src="https://aforbush1.github.io/INTEX/views/assets/img/provoLogo.png" alt="" class="img-fluid">
                </a>
            </div>

            <!-- .navbar -->
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a  href="/">Home</a></li>
                    <li><a class="active" href="/surveyForm">Survey</a></li>
                    <li><a href="dashboard">Dashboard</a></li>
                    <li><a href="/login">Log In</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>
    <!-- End Header -->
    <br><br><br><br>

    <form action="/submitSurvey" method="post" style="width: 700px; z-index: 1;" data-aos="fade-up" data-aos-delay="1000">
        <label for="age">Age</label>
        <input placeholder="Enter your age" type="number" id="age" name="age" required>

        <br><br>

        <label for="gender">Gender</label>
        <select id="gender" name="gender" required>
            <option value="" disabled selected>Select A Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>

        <br><br>

        <label for="relationshipStatus">Relationship Status</label>
        <select id="relationshipStatus" name="relationshipStatus" required>
            <option value="" disabled selected>Select A Relationship Status</option>
            <option value="Single">Single</option>
            <option value="In a Relationship">In a Relationship</option>
            <option value="Married">Married</option>
            <option value="Divorced">Divorced</option>
            <option value="Other">Other</option>
        </select>

        <br><br>

        <label for="occupationStatus">Occupation Status</label>
        <select id="occupationStatus" name="occupationStatus" required>
            <option value="" disabled selected>Select an Occupation Status</option>
            <option value="Employed">Employed</option>
            <option value="Unemployed">Unemployed</option>
            <option value="Student">Student</option>
            <option value="Other">Other</option>
        </select>

        <br><br>

        <label for="affiliatedOrganizations">What type of organizations are you affiliated with (Please Select All That Apply)</label>
        <select id="affiliatedOrganizations" name="affiliatedOrganizations[]" multiple required>
            <option value="Company">Company</option>
            <option value="Private">Private</option>
            <option value="Government">Government</option>
            <option value="School">School</option>
            <option value="University">University</option>
            <option value="None">None</option>
        </select>

        <br><br>

        <label for="useSocialMedia">Do you use social media?</label>
        <select id="useSocialMedia" name="useSocialMedia" required>
            <option value="" disabled selected>Select Yes or No</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>

        <br><br>

        <label for="socialMedia">What social media platforms do you commonly use? (Please Select All That Apply)</label>
        <select id="socialMedia" name="socialMedia[]" multiple required>
            <option value="Facebook">Facebook</option>
            <option value="Twitter">Twitter</option>
            <option value="Instagram">Instagram</option>
            <option value="Youtube">Youtube</option>
            <option value="Discord">Discord</option>
            <option value="Reddit">Reddit</option>
            <option value="Pinterest">Pinterest</option>
            <option value="TikTok">TikTok</option>
            <option value="Snapchat">Snapchat</option>
            <option value="Other">Other</option>
        </select>

        <br><br>

        <label for="averageTimeOnSocialMedia">What is the average time you spend on social media every day?</label>
        <select id="averageTimeOnSocialMedia" name="averageTimeOnSocialMedia" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="Less than an Hour">Less than an Hour</option>
            <option value="Between 1 and 2 hours">Between 1 and 2 hours</option>
            <option value="Between 2 and 3 hours">Between 2 and 3 hours</option>
            <option value="Between 3 and 4 hours">Between 3 and 4 hours</option>
            <option value="Between 4 and 5 hours">Between 4 and 5 hours</option>
            <option value="More than 5 hours">More than 5 hours</option>
        </select>

        <br><br>

        <label for="socialMediaWithoutPurpose">How often do you find yourself using social media without a specific purpose?</label>
        <select id="socialMediaWithoutPurpose" name="socialMediaWithoutPurpose" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Never</option>
            <option value="2">Rarely</option>
            <option value="3">Occasionally</option>
            <option value="4">Frequently</option>
            <option value="5">Always</option>
        </select>

        <br><br>

        <label for="distractedBySocialMedia">How often do you get distracted by social media when you are busy doing something?</label>
        <select id="distractedBySocialMedia" name="distractedBySocialMedia" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Never</option>
            <option value="2">Rarely</option>
            <option value="3">Occasionally</option>
            <option value="4">Frequently</option>
            <option value="5">Always</option>
        </select>

        <br><br>

        <label for="restlessWithoutSocialMedia">How often do you feel restless if you have not used social media in a while?</label>
        <select id=" restlessWithoutSocialMedia" name="restlessWithoutSocialMedia" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Never</option>
            <option value="2">Rarely</option>
            <option value="3">Occasionally</option>
            <option value="4">Frequently</option>
            <option value="5">Always</option>
        </select>

        <br><br>

        <label for="easilyDistracted">How often are you easily distracted?</label>
        <select id="easilyDistracted" name="easilyDistracted" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Never</option>
            <option value="2">Rarely</option>
            <option value="3">Occasionally</option>
            <option value="4">Frequently</option>
            <option value="5">Always</option>
        </select>

        <br><br>

        <label for="botheredByWorries">How often are you bothered by worries?</label>
        <select id="botheredByWorries" name="botheredByWorries" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Never</option>
            <option value="2">Rarely</option>
            <option value="3">Occasionally</option>
            <option value="4">Frequently</option>
            <option value="5">Always</option>
        </select>

        <br><br>

        <label for="difficultToConcentrate">How often do you find it difficult to concentrate on things?</label>
        <select id="difficultToConcentrate" name="difficultToConcentrate" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Never</option>
            <option value="2">Rarely</option>
            <option value="3">Occasionally</option>
            <option value="4">Frequently</option>
            <option value="5">Always</option>
        </select>

        <br><br>

        <label for="compareToOthersOnSocialMedia">How often do you compare yourself to other successful people through the use of social media?</label>
        <select id="compareToOthersOnSocialMedia" name="compareToOthersOnSocialMedia" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Never</option>
            <option value="2">Rarely</option>
            <option value="3">Occasionally</option>
            <option value="4">Frequently</option>
            <option value="5">Always</option>
        </select>

        <br><br>

        <label for="feelingsAboutComparisons">Following the previous question, how strongly do you feel about these comparisons, generally speaking?</label>
        <select id="followupCompare" name="followupCompare" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Not At All</option>
            <option value="2">Very Little</option>
            <option value="3">Moderately</option>
            <option value="4">Strongly</option>
            <option value="5">Very Strongly</option>
        </select>

        <br><br>

        <label for="seekValidationOnSocialMedia">How often do you look to seek validation from features of social media?</label>
        <select id="seekValidationOnSocialMedia" name="seekValidationOnSocialMedia" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Never</option>
            <option value="2">Rarely</option>
            <option value="3">Occasionally</option>
            <option value="4">Frequently</option>
            <option value="5">Always</option>
        </select>

        <br><br>

        <label for="feelingsOfDepression">How often do you feel depressed or down?</label>
        <select id="feelingsOfDepression" name="feelingsOfDepression" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Never</option>
            <option value="2">Rarely</option>
            <option value="3">Occasionally</option>
            <option value="4">Frequently</option>
            <option value="5">Always</option>
        </select>

        <br><br>

        <label for="fluctuationInInterest">How frequently does your interest in daily activities fluctuate?</label>
        <select id="fluctuationInInterest" name="fluctuationInInterest" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Never</option>
            <option value="2">Rarely</option>
            <option value="3">Occasionally</option>
            <option value="4">Frequently</option>
            <option value="5">Always</option>
        </select>

        <br><br>

        <label for="sleepIssues">How often do you face issues regarding sleep?</label>
        <select id="sleepIssues" name="sleepIssues" required>
            <option value="" disabled selected>Choose an option</option>
            <option value="1">Never</option>
            <option value="2">Rarely</option>
            <option value="3">Occasionally</option>
            <option value="4">Frequently</option>
            <option value="5">Always</option>
        </select>

        <br>

        <button type="submit">Submit</button>
    </form>
    <br><br><br>
</body>
    <!-- Vendor JS Files -->
    <script src="https://aforbush1.github.io/INTEX/views/assets/vendor/aos/aos.js"></script>
    <script src="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://aforbush1.github.io/INTEX/views/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="https://aforbush1.github.io/INTEX/views/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="https://aforbush1.github.io/INTEX/views/assets/js/main.js"></script>
<script>
    $(document).ready(function() {
        $('#socialMedia').select2();
    });

    $(document).ready(function() {
        $('#affiliatedOrganizations').select2();
    });
</script>

</html>