<!-- Ryan Hawkins -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    
    <!-- Favicons -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="icon">
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="provo-icon">

    <!-- Favicons -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="icon">
    <link href="https://aforbush1.github.io/INTEX/views/assets/img/provoIcon.ico" rel="provo-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="https://aforbush1.github.io/INTEX/views/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!--main css file-->
    <link href="https://aforbush1.github.io/INTEX/views/assets/css/style.css" rel="stylesheet">
    
    </style>

</head>

<body>
    <!-- <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo" data-aos-delay="2500" data-aos="fade-down">
                <a href="/"><img src="https://aforbush1.github.io/INTEX/views/assets/img/provoLogo.png" alt="" class="img-fluid">
                </a>
            </div>

            <nav style="color: rgb(212, 209, 209);" id="navbar" class="navbar" data-aos-delay="1000" data-aos="fade-right" data-aos-offset="0">
                <ul>
                    <li><a style=" color: grey;"  href="/">Home</a></li>
                    <li><a style=" color: grey;" class="active" href="/surveyForm">Survey</a></li>
                    <li><a style=" color: grey;" href="dashboard">Dashboard</a></li>
                    <li><a style=" color: grey;" href="/login">Log In</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

    </header> -->
    <header id="header" class="fixed-top d-flex align-items-center" style="background-image: linear-gradient(to bottom, #001f4d, #00bfff);" >
        <div class="container d-flex justify-content-between align-items-center">
    
            <div class="logo">
                <!--<h1><a href="index.html">SoftLand</a></h1>-->
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="/"><img src="https://aforbush1.github.io/INTEX/views/assets/img/provoLogo.png" alt="" class="img-fluid">
                </a>
            </div>
    
            <!-- .navbar -->
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="" href="adminIndex">Home</a></li>
                    <li><a href="createUser">Create User</a></li>
                    <li><a href="viewUser">View Users</a></li>
                    <li><a href="viewData">View Data</a></li>
                   
                    <li><a href="/">Log Out</a></li>
                </ul>
            </nav>
    
        </div>
    </header>
    <br><br><br><br><br>

        <form action="filterData" method="POST">
            <fieldset style="width: fit-content;">
                <legend>Filter</legend>
                <label for="filterCity">City</label>
                <select name="filterCity" id="filterCity">
                    <option value="Provo">Provo</option>
                    <option value="Plainsville">Plainsville</option>
                    <option value="Both" selected >Both</option>
                </select>
                <label for="findRecord">Find Record</label>
                <select name="findRecord" id="findRecord">
                        <option value="default" selected>All Records</option>
                </select>
                <div class="col-md-6 form-group">
                    <input type="submit" class="btn btn-primary d-block w-100" value="Submit">
                </div>
            </fieldset>
        </form>
    <br><br>
    
    <br><br>
    <script>
        function updateRecordOptions() {
    const selectedCity = document.getElementById("filterCity").value;
    console.log("the value has been updated as " + selectedCity)

    // Fetch records for the selected city or both cities using AJAX
    let cities;
    if (selectedCity === "Both") {
        // Fetch records for both cities
        cities = ["Provo", "Plainsville"];
        console.log("both of the cities are selected")
    } else {
        // Fetch records for the selected city
        cities = [selectedCity];
        console.log("only one city has been selected")
    }

    // Array to store all records
    const allRecords = [];

    // Fetch records for each city
    const fetchPromises = cities.map(city => {
        return fetch(`/getRecords/${city}?_=${new Date().getTime()}`)
            .then(response => response.json())
            .then(data => {
                // Add records to the array
                allRecords.push(...data);
            })
            .catch(error => console.error(`Error fetching records for ${city}:`, error));
    });

    // After all fetches are complete, update the dropdown
    Promise.all(fetchPromises)
        .then(() => {
            const findRecord = document.getElementById("findRecord");
            findRecord.innerHTML = '<option value="default" selected>All Records</option>';

            // Populate options with fetched data
            allRecords.forEach(record => {
                const option = document.createElement("option");
                option.value = record.id;
                //console.log("the id is"+ option.value)
                option.textContent = `${record.Date}, ${record.Time}, ${record.Age}, ${record.Gender}`;
                findRecord.appendChild(option);
            });
        })
        .catch(error => console.error("Error fetching records:", error));
}

// Attach the function to the change event of the "filterCity" dropdown
document.getElementById("filterCity").addEventListener("change", updateRecordOptions);

// Initial call to populate options on page load
updateRecordOptions();

    </script>
    
</body>
</html>
